[submodule "emacs.d/org"]
	path = emacs.d/org
	url = git://orgmode.org/org-mode.git
[submodule "emacs.d/htmlize"]
	path = emacs.d/htmlize
	url = https://github.com/emacsmirror/htmlize.git
[submodule "pelican/orgonpy"]
	path = pelican/orgonpy
	url = git@github.com:brettviren/orgonpy.git
