<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head_meta %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock%}
    
    <title>{%- block headtitle -%}{{ cfg.sitetitle }}{%- endblock -%}</title>
    {% block head_css_global %}
    {% for url in cfg.csslist.split() %}
    <link rel="stylesheet" href="{{ url }}">
    {% endfor %}
    {% endblock %}

    {% block head_css_local %}{% endblock %}
  </head>
  
  <body>
    {% block body %}

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

        {# Collapsed navigation #}
        <div class="navbar-header">
          
          {# Expander button #}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          {# Main title #}
          <a class="navbar-brand" href="..">{%- block sitetitle %}{{ cfg.sitetitle }}{%- endblock -%}</a>
        </div><!-- navbar-header -->

        {# Expanded navigation #}
        <div class="navbar-collapse collapse">
          
          {# Main navigation #}
          <ul class="nav navbar-nav">
	    {% block mainnavbar %}
	    {% for section in cfg.sections.split() %}
	    {% set label,url = section.split(':') %}
	    <li><a href="{{ url }}">{{ label }}</a></li>
	    {% endfor %}
	    {% endblock %}
          </ul>
          
          {# Right hand side navigation #}
          <ul class="nav navbar-nav navbar-right">
	    {% block rightnavbar %}
            <li >
              <a rel="up" href="..">
                <i class="fa fa-arrow-up"></i> Up
              </a>
            </li>
	    {% endblock %}
          </ul>
        </div>

      </div><!-- container -->
    </div><!-- navbar -->

    <div class="container">
      {% block container %}
      <div class="col-md-3">
        <div class="bs-sidebar hidden-print affix well" role="complementary">
          <ul class="nav bs-sidenav">
            <li class="main active"><a href="#">Top</a></li>
	    {% block tocnav %}
	    {% endblock %}
	  </ul>
	</div>
      </div>
      
      <div class="col-md-9" role="main">

	<h1 class="page-title">
	  {% block pagetitle %}TITLE{% endblock %}
	  <small>{% block pagesubtitle %}Subtext for header{% endblock %}</small>
	</h1>
      
	{% block precontent %}<p/>{% endblock %}
	
	{% block content %}
	{% endblock %}

      {% block postcontent %}<p/>{% endblock %}
      </div><!-- main -->
      
      {% endblock %}
    </div><!-- content container -->
    


    {% block prefooter %}{% endblock %}

    <footer class="col-md-12">
      {% block footer %}
	</hr>
	{% endblock %}
    </footer>

    {% block postfooter %}
    {% block foot_js_global %}
    {% for url in cfg.jslist.split() %}
    <script src="{{ url }}"></script>
    {% endfor %}
    {% endblock %}
    {% block foot_js_local %}
    {% endblock %}
    {% endblock %}
    
    {% endblock %} 
  </body>

</html>
