{% extends "base.html" %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1><a href="site.html">They Call Me Brett</a></h1>
    <hr/>

    <p/>

    <ul class="list-group">
      <li class="list-group-item">
	<span class="mega-octicon octicon-mail" aria-hidden="true"></span> Contact:
	<a href="mailto:brett.viren@gmail.com">[Gmail]</a>
	<a href="mailto:bv@bnl.gov">[BNL]</a>
      </li>
      <li class="list-group-item">
	<span class="mega-octicon octicon-mortar-board" aria-hidden="true"></span> Physics
	<ul>
	  <li> <a href="http://arxiv.org/find/hep-ex/1/au:+Collaboration_DUNE/">DUNE</a>/<a href="http://arxiv.org/find/hep-ex/1/au:+Collaboration_LBNE/0/1/0/all/0/1">LBNE</a>:

	    <span class="octicon octicon-book" aria-hidden="true"></span> 
	    <a href="https://dune.bnl.gov/wiki/">Wiki</a>,
	    <a href="https://docs.dunescience.org/">DUNE DocDB</a>,
	    <a href="http://lbne2-docdb.fnal.gov/">LBNE DocDB</a>

	    <span class="octicon octicon-calendar" aria-hidden="true"></span> 
	    <a href="https://indico.fnal.gov/categoryDisplay.py?categId=443">Indico</a>

	    <span class="octicon octicon-database" aria-hidden="true"></span> 
	    <a href="https://dune.bnl.gov/people/">Collab DB</a>

	    <span class="octicon octicon-home" aria-hidden="true"></span> 
	    <a href="https://www.dunescience.org/">Home</a>

	  </li>
	  <li> <a href="http://arxiv.org/find/hep-ex/1/au:+Collaboration_Daya_Bay/">Daya Bay</a>
	    
	  <li> Pubs:
	    <a href="http://arxiv.org/find/physics/1/au:+Viren_B/">arXiv</a>,
	    <a href="https://inspirehep.net/author/profile/B.Viren.1">Inspire</a>

	</ul>
      </li>
      <li class="list-group-item">
	<span class="mega-octicon octicon-bug" aria-hidden="true"></span> Software:

	<span class="octicon octicon-mark-github" aria-hidden="true"></span>
	<a href="http://github.com/brettviren">GitHub</a>

      </li>
      <li class="list-group-item"></li>
    </ul>

    <p/>

	    <a href="https://dune.bnl.gov/edg/w/">Wiki</a>
    <span class="mega-octicon octicon-mortar-board" aria-hidden="true"></span> Physics
    <ul>
      <li> DUNE:
    <a href="https://dune.bnl.gov/edg/w/">Wiki</a>
    <a href="https://dune.bnl.gov/people/">Collab</a>
    <p/>



    <span class="mega-octicon octicon-mark-github" aria-hidden="true"></span> Devel:
    <a href="http://github.com/brettviren">GitHub</a>

    <p/>



    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="mega-octicon octicon-browser" aria-hidden="true"></span> <a href="site.html">Website</a>
    </button>

    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="mega-octicon octicon-mail" aria-hidden="true"></span>
      <a href="mailto:brett.viren@gmail.com">Personal</a>
    </button>

    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="mega-octicon octicon-mail" aria-hidden="true"></span>
      <a href="mailto:bv@bnl.gov">Professional</a>
    </button>

    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="mega-octicon octicon-mark-github" aria-hidden="true"></span> <a href="http://github.com/brettviren">GitHub</a>
    </button>


    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="mega-octicon octicon-mortar-board" aria-hidden="true"></span> <a href="https://inspirehep.net/author/profile/B.Viren.1">Inspire</a>
    </button>
    
    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="mega-octicon octicon-person" aria-hidden="true"></span>
      <a href="http://www.phy.bnl.gov/edg/w/">BNL EDG</a>
    </button>

    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="mega-octicon octicon-person" aria-hidden="true"></span>
      <a href="http://www.phy.bnl.gov/wire-cell/">Wire Cell</a>
    </button>

    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="mega-octicon octicon-person" aria-hidden="true"></span>
      <a href="https://dune.bnl.gov/edg/w/">DUNE</a>
    </button>


    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="{{ icon }}" aria-hidden="true"></span> <a href="{{ url }}">{{ text }}</a>
    </button>
    <button type="button" class="btn btn-default btn-lg" role="button">
      <span class="{{ icon }}" aria-hidden="true"></span> <a href="{{ url }}">{{ text }}</a>
    </button>
    

  </div>
</div>
{% endblock %}

