{% extends "base.html" %}
{% block pagetitle %}
{{ meta[0].title }}
{% endblock %}

{% block pagesubtitle %}
{%- if meta[0].subtitle -%}
{{ meta[0].subtitle }}
{% endif %}
{% endblock %}

{% block tocnav %}
{%- for item in meta[0].headlines recursive %}
<li class="">
  <a href="#sec-{{ item.secnums | join('-') }}">{{ item.secnums | join('.') }}. {{ item.title }}</a>
  {%- if item.children -%}
  <ul class="nav">{{ loop(item.children) }}</ul>
  {%- endif %}</li>
{%- endfor %}
{% endblock %}


{% block content %}
{% block topicmeta %}
{{ meta[0].created }}
{%- if meta[0].created != meta[0].revised -%}(revised {{ meta[0].revised }} ){%- endif -%}
{%- if meta[0].description -%}
<blockquote>{{ meta[0].description }}</blockquote>
{%- endif -%}
{% endblock %}
{{ org[0].body }}
{% endblock %}

{% block footer %}
<hr/>
<a href="{{ org[0].name }}.org">Org ({{ org[0].name }}.org)</a><br>
<a href="{{ org[0].name }}.pdf">PDF ({{ org[0].name }}.pdf)</a><br>
<p>
  Created: {{ meta[0].created }}<br>
  Revised: {{ meta[0].revised }}<br>
{% endblock %}    
